<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
	{% include head.html %}
	<body>
		<div class="nonfooter">
			{% include header.html %}
			<div class="wrapper">
				<section>
					<div id="title">
						<h1>{{ page.title }}</h1>
						<hr>
						<span class="credits left">By <a href="{{ page.author_url | default: site.author_url }}">{{ page.author_name | default: site.author_name }}</a></span>
						<span class="credits right">{{ page.date | date: date_format }}</span>
					</div>
	
					<div class="content">
						{% if page.toc %}
							<div class="sidebar">
								<h1 id="contents">Contents</h1>
								{% include toc.html html=content %}
							</div>
						{% endif %}
						
						<div class="main">
							{{ content }}
						</div>
					</div>
				</section>
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>